*{
  /* border: 1px red solid; */
}

body{
  font-family: Poppins;
}
nav{
  padding: 20px;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.logo{
  width: 100px;
}

.heroImage{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.heroImage > img{
  width: 50vw;
}

.textHero{
  padding-left: 50px;
}
.textHero > h1{
  font-size: 36px;
  font-weight: 600;
}
.textHero > p{
  width: 40vw;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card > img{
  border-radius: 15px;
  width: 300px;
}
.card{
  color: #222222;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}


.bodyCard > p{
  display: flex;
  align-items: center;
  width: 300px;
  
}
.grayText{
  color: #918E9B;
}

.boldText{
  font-weight: 600;
}